th, td{

    padding: 10px;

    text-align: center;

}

.weekend {

    color: red;

}

.today {

    background-color: yellow;
    

}
.top-row {
    background-color: black;
    color: white;

}
table {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
.grey-row {
    background-color: silver;
}
